@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter";
}

.container {
  max-width: 1290px;
  padding: 0px 15px;
  margin: 0 auto;
}

.current-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cities_hidden {
  display: none;
}

.cities_show {
  display: block;
}

.container-breadcrumb {
  margin-top: 50px;
}
.container-breadcrumb .breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-breadcrumb .breadcrumb-item::after {
  content: "—";
  margin-left: 10px;
  margin-right: 10px;
  color: #808080;
}
.container-breadcrumb .breadcrumb-item:last-child::after {
  content: "";
}
.container-breadcrumb .breadcrumb-item_active a {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #333333;
}
.container-breadcrumb .breadcrumb-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #808080;
}

.main-information {
  margin-top: 20px;
  margin-bottom: 40px;
}
.main-information_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #333333;
  margin: 0;
  padding: 0;
}

.main-button_filled {
  background: #ECEDFE;
  width: 230px;
  height: 52px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #363787;
  cursor: pointer;
}
.main-button_filled:hover {
  background: #363787;
  color: #ECEDFE;
}

.review-wrapper {
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  margin-bottom: 30px;
}
.review-wrapper:last-child {
  margin-bottom: 0;
}

.review-item {
  margin: 30px;
}
.review-item__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.review-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.review-item__name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #333333;
  margin-left: 40px;
}
.review-item__date {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #808080;
  float: right;
}
.review-item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
}

.review-button {
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 184px;
  height: 54px;
  border: none;
  border: 2px solid #F5FAF7;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #00B052;
}
.review-button svg {
  margin-right: 2px;
  vertical-align: top;
}
.review-button:hover {
  background-color: #00B052;
  color: #ECEDFE;
}
.review-button:hover .icon {
  fill: #ECEDFE;
}

.review-rating__mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #6263C5;
}/*# sourceMappingURL=review.css.map */